* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Raleway", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}
p {
  font-size: 14px;
}

/* ============= Generic CSS ============== */

.section-title {
  padding-top: 90px;
  padding-bottom: 50px;
}
.section-title h2 {
  position: relative;
  text-align: center;
  color: #333;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}
.section-title h2:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 60px;
  height: 1px;
  background-color: #129cf3;
  margin-left: -30px;
}
.registracija-header {
  padding-bottom: 10px;
}
.zavrsene-ankete {
  padding-top: 30px;
}

.section-title p {
  color: #333;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
  margin-top: 45px;
}

/* =========== Navigation ============ */

.navbar-default {
  background-color: transparent;
  border-color: #444;
  z-index: 110;
  transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
}
.navbar-default .navbar-nav > li > a {
  color: #b5b5b5;
  font-family: "Raleway", sans-serif;
  transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #129cf3;
}
.navbar-default .navbar-nav > li > a:focus {
  color: #b5b5b5;
}
.navbar-brand {
  padding: 9px 15px;
}
.navbar-brand img {
  transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #129cf3;
}

/* =========== Header ============ */
.header {
  background-image: url("../images/header-bg.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
.header-overlay {
  background-color: rgba(31, 31, 31, 0.21);
}
.logo {
  padding-bottom: 50px;
}
.header-text h1 {
  color: #fff;
  font-size: 46px;

  font-weight: 300;
  line-height: 45px;
  padding-top: 30px;
  text-transform: uppercase;
}
.header-text p {
  color: #fff;
  font-size: 17px;
  line-height: 28px;
  font-weight: 300;
}
.header-btns {
  margin-top: 90px;
  margin-bottom: 50px;
}

.btn-download,
.btn-download:focus,
.btn-download:active,
.btn-download:visited {
  background: transparent;
  border-color: #129cf3;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 19px;
  text-transform: uppercase;
  border-radius: 3px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}
.btn-download:hover {
  background-color: #129cf3;
  color: #fff;
}
.btn-tour,
.btn-tour:focus,
.btn-tour:active,
.btn-tour:visited {
  color: #a9adb0;
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 500;
  background: transparent;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
}
.btn-tour:hover {
  color: #fff;
}
.btn-tour i {
  font-size: 20px;
  padding-left: 5px;
  color: #129cf3;
}

.header-iphone img {
  width: 100%;
}

/* ========= About Us ============= */
#ABOUT {
}
.choose-us-wraper {
  padding-top: 50px;
}

.about-iphone img {
  margin-top: 8px;
}
.choose-us-title {
  padding-bottom: 50px;
}
.choose-us-title h2 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  position: relative;
}
.choose-us-title h2:after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 70px;
  height: 1px;
  background-color: #129cf3;
}

.choose-us-title p {
  margin-top: 40px;
  font-size: 19px;
  line-height: 24px;
}

.choose-us-item {
  position: relative;
  padding-bottom: 4px;
  padding-left: 80px;
}
.choose-us-item div {
  position: absolute;
  top: 0;
  left: 0;
}
.choose-us-item div i {
  font-size: 55px;
  color: #129cf3;
  transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
}
.choose-us-item h3 {
  color: #343434;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
}

.choose-us-item p {
  color: #727272;
  font-size: 15px;
}
/* ========= Testimonials ============= */

/* ========= Contact Us ============= */
.contact-us-form .form-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 21px;
  color: #555;
  background-color: transparent;
  border: 1px solid #aeaeae;
  border-radius: 3px;
  margin-bottom: 15px;
  opacity: 0.8;
  outline: 0px !important;
  transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
}

#message {
  height: 117px;
  resize: none;
}
.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited {
  background-color: transparent;
  border: 1px solid #129cf3;
  border-radius: 4px;
  margin-top: 5px;
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  font-size: 18px;
  color: #129cf3;
  outline: 0px !important;
  transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
}
.submit-btn:hover {
  background: #129cf3;
  color: #fff;
  border-color: #129cf3;
}
.social-icons {
  padding-top: 50px;
  padding-bottom: 70px;
}
.social-icons ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.social-icons ul li {
  list-style: none;
  display: inline;
  padding-left: 10px;
}

.social-icons ul li a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border: 1px solid #9d9d9d;
  border-radius: 3px;
  width: 45px;
  height: 45px;
  line-height: 49px;
  color: #9d9d9d;
  transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
}
.social-icons ul li a:hover {
  background-color: #129cf3;
  border: 1px solid #129cf3;
  color: #fff;
}
.social-icons ul li a i {
  font-size: 20px;
}

/* ========= Footer ============= */
.footer {
  width: 100%;
  margin-top: 150px;
  bottom: 0;
  background-color: #1a1a1a;

  padding-bottom: 35px;
  padding-top: 35px;
  border-bottom: 3px solid #129cf3;
}
#copyright {
  width: 50%;
}
#copyright p {
  color: #8c8b8a;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}
#copyright p a {
  text-decoration: none;
  color: #129cf3;
}
.scroll-top {
  text-align: right;
}
.scroll-top a {
  background-color: #129cf3;
  padding: 25px;
}
.scroll-top a i {
  color: #fff;
  font-size: 25px;
}

[slider] {
  position: relative;
  height: 14px;
  border-radius: 10px;
  text-align: left;
  margin: 45px 0 10px 0;
}

[slider] > div {
  position: absolute;
  left: 13px;
  right: 15px;
  height: 14px;
}

[slider] > div > [inverse-left] {
  position: absolute;
  left: 0;
  height: 14px;
  border-radius: 10px;
  background-color: #ccc;
  margin: 0 7px;
}

[slider] > div > [inverse-right] {
  position: absolute;
  right: 0;
  height: 14px;
  border-radius: 10px;
  background-color: #ccc;
  margin: 0 7px;
}

[slider] > div > [range] {
  position: absolute;
  left: 0;
  height: 14px;
  border-radius: 14px;
  background-color: #1abc9c;
}

[slider] > div > [thumb] {
  position: absolute;
  top: -7px;
  z-index: 2;
  height: 28px;
  width: 28px;
  text-align: left;
  margin-left: -11px;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  border-radius: 50%;
  outline: none;
}

[slider] > input[type="range"] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 3;
  height: 14px;
  top: -2px;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

div[slider] > input[type="range"]::-ms-track {
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type="range"]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

div[slider] > input[type="range"]:focus {
  outline: none;
}

div[slider] > input[type="range"]::-ms-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type="range"]::-moz-range-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
  -webkit-appearance: none;
}

div[slider] > input[type="range"]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type="range"]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type="range"]::-ms-tooltip {
  display: none;
}

[slider] > div > [sign] {
  opacity: 0;
  position: absolute;
  margin-left: -11px;
  top: -39px;
  z-index: 3;
  background-color: #1abc9c;
  color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

[slider] > div > [sign]:after {
  position: absolute;
  content: "";
  left: 0;
  border-radius: 16px;
  top: 19px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top-width: 16px;
  border-top-style: solid;
  border-top-color: #1abc9c;
}

[slider] > div > [sign] > span {
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
}

[slider]:hover > div > [sign] {
  opacity: 1;
}

/*===============TABELE ==========*/
table {
  width: 100%;
  margin-top: 100px;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 15px;
  text-align: center;
  font-size: 18px;
}
table tr:nth-child(even) {
  background-color: #eee;
}
table tr:nth-child(odd) {
  background-color: #fff;
}
table th {
  background-color: #129cf3;

  color: white;
}
